1. Hello World!

In [1]:
print("Hello, World!")

Hello, World!

2. If-Else

In [2]:
n = int(input())
if n % 2 == 1:
    print("Weird")
elif 2 <= n <= 5:
    print("Not Weird")
elif 6 <= n <= 20:
    print("Weird")
elif n > 20:
    print("Not Weird")

18
Weird

3. Arithmetic Operators

In [3]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

10
3
13
7
30

4. Division

In [4]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

10
3
3
3.3333333333333335

5. Loops

In [5]:
n = int(input())
for i in range(n):
    print(i*i)

5
0
1
4
9
16

6. Write a Function

In [6]:
def is_leap(year):
    leap = False
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
      leap = True
    return leap
year = int(input())
print(is_leap(year))

2000
True

7. Print Function

In [7]:
n = int(input())
for i in range(1, n + 1):
    print(i, end="")

5
12345